Question no.1.	Write a Python program to find sum of elements in list?

In [2]:
total=0
list1=[1,2,3,4,5]

for ele in range(0,len(list1)):
  total=total+list1[ele]

print("sum of all elements in given list is: ",total)

sum of all elements in given list is:  15

Question no.2.	Write a Python program to  Multiply all numbers in the list?

In [3]:
def multiplylist(mylist):
  result=1
  for x in mylist:
    result=result*x
  return  result

list1=[1,2,3]
list2=[4,5,6]
print(multiplylist(list1))
print(multiplylist(list2))

6
120

Question no.3.	Write a Python program to find smallest number in a list?

In [5]:
list1=[12,3,5,6,2,77,86,43]

list1.sort()

print("smallest element is: ", list1[0])

smallest element is:  2

Question no.4.	Write a Python program to find largest number in a list?

In [6]:
list1=[12,3,5,6,2,77,86,43]

list1.sort()

print("smallest element is: ", list1[-1])

smallest element is:  86

Question no.5.	Write a Python program to find second largest number in a list?

In [7]:
list1=[12,3,5,6,2,77,86,43]

list1.sort()

print("smallest element is: ", list1[-2])

smallest element is:  77

Question no.6.	Write a Python program to find N largest elements from a list?

In [8]:
list=[12,34,33,56,77,89,-21,900]
n=3

list.sort()
print(list[-n: ])

[77, 89, 900]

Question no.7.	Write a Python program to print even numbers in a list?

In [10]:
list=[12,34,33,56,77,89,-21,900]

for num in list:
  if num%2==0:
    print(num,end=" ")

12 34 56 900

Question no.8.	Write a Python program to print odd numbers in a List?

In [13]:
list=[12,34,33,56,77,89,-21,900]

for num in list:
  if num % 2 !=0:
    print(num,end=" ")

33 77 89 -21

Question no.9.	Write a Python program to Remove empty List from List?

In [14]:
test_list=[1,4,[],9,10,[],12,98,[]]

print("the original list is : "+ str(test_list))

res=[ele for ele in test_list if ele != []]

print("list after empty list removal : "+ str(res))

the original list is : [1, 4, [], 9, 10, [], 12, 98, []]
list after empty list removal : [1, 4, 9, 10, 12, 98]

Question no.10.	Write a Python program to Cloning or Copying a list?

In [16]:
def cloning(list1):
  li_copy=list1
  return li_copy

list1=[1,2,3,4,5,6]
list2=cloning(list1)

print("original list: ",list1)
print("after cloning: ",list2)

original list:  [1, 2, 3, 4, 5, 6]
after cloning:  [1, 2, 3, 4, 5, 6]

Question no.11.	Write a Python program to Count occurrences of an element in a list?

In [34]:
def countx(list1,x):
  return list1.count(x)

list1=[90,1,3,1,4,5,6,1,7,2,3,1,9,1,3,1]
x=1

print('{} has occured {} times'.format(x,countx(list1,x)))

1 has occured 6 times